name: Update Data

on:
  schedule:
    - cron: '0 */3 * * *'
  push:
    branches:
      - main

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests dune-client

    - name: Run data fetch script
      run: |
        python fetch_data.py

    - name: Commit and push changes
      env:
        ACTIONS_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add data.json
        git commit -m 'Update data'
        git push https://x-access-token:${{ secrets.ACTIONS_TOKEN }}@github.com/mimika-code/scroll.git
        
